<p>
After convert file and download it, click on import file button from your Anki as below image.
</p>
<p>
  <span class="ui red label">Pay attention:</span>
  Change to fields separated by | and mark checkbox "Allow HTML in fields."
</p>
<%= image_tag 'import-file.png', class: 'ui centered rounded large image' %>
<%= image_tag 'import-file2.png', class: 'ui centered rounded large image' %>
