<% if object.errors.any? %>
  <div class="ui icon error message">
    <i class="frown icon"></i>
    <ul class="list">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
